:root {
    --white-text-color: #FFFF;
    --navy-blue-color: #2E2F42;
    --ocean-color: #404BBF;
    --iris-color: #4D5AE5;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--navy-blue-color);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: var(--white-text-color);
}

body ul {
    list-style-type: none;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);
}


.link {
    font-weight: 500;
}

.logo-second-part {
    color:#2E2F42;
}

h1, h2 {
    text-align: center;
    color: inherit;
    letter-spacing: inherit;
}

h2 {
    font-weight:  500;
}

h1 {
    color: var(--white-text-color);
    font-size: 56px;
    background-color: var(--navy-blue-color);
    line-height: 60px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 20px;
}

.header-link, .address-link {
    text-align: left;
}

.header-link a, .address-link a {
    color: var(--navy-blue-color);
    text-decoration: none;
}

.address-link {
    font-style: normal;
}

.header-link a:hover, 
.header-link a:focus,
.address-link a:hover,
.address-link a:focus {
    color: var(--ocean-color);
}

.header-link a:active {
    text-decoration: underline;
}

#service > button {
    background-color: var(--iris-color);
    color: var(--white-text-color)
}
#service > button:hover {
    background-color: var(--ocean-color);
}
